* { font-family: 'Inconsolata', monospace; }

a {
  color: currentColor;
  text-underline-offset: 0.2em;
}
a.game__nav:focus {
  font-weight: bold;
  outline: 0;
}

button {
  margin: 0.5rem 0.5rem 0 0;
}
button + button {
  margin-left: 0.5rem;
}

.button, .button-link {
  font-size: 14px;
  background: whitesmoke;
  color: black;
  border: solid 1px black;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  cursor: pointer;
  text-decoration: none;
}

/* prevent hover effects on mobile devices */
@media(hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: underline dotted;
    opacity: 0.8;
  }
  a:active {
    outline: 0;
  }
  .button:hover, .button-link:hover {
    background: black;
    border-color: gainsboro;
    color: gainsboro;
    text-decoration: none;
  }
  .button, .button-link {
    outline: 0;
  }
  .button:active, .button-link:active, .button:focus, .button-link:focus {
    outline: 0;
    opacity: 0.8;
  }
}

input, select, textarea {
  background: whitesmoke;
  border-radius: 5px;
  padding: 0 0.5rem;
  cursor: pointer;
  margin: 0.5rem;
}
input:not([type=radio]):not([type=checkbox]), select {
  height: 1.5rem;
}
input + label, select + label {
  margin-left: 0.5rem;
}
label.right {
  margin-left: 0;
  margin-right: 1rem;
}
.input-container {
  display: inline-block;
  margin-right: 1rem;
}

p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: gainsboro;
  }

  button, .button, .button-link, input, select, textarea {
    background-color: gainsboro;
  }
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

#profile-settings {
  margin-top: 1rem;
}

#profile-settings > div {
  margin: 0.2rem 0;
}
#profile-settings > div * {
  vertical-align: middle;
}
#profile-settings input[type=color] {
  border: 0;
  border-radius: 2px;
  padding: 0;
  height: 1.8rem;
  width: 2.7rem;
}

#profile-settings > #settings__notifications {
  height: 2rem;
}

#settings__tiles > label {
  margin-right: 0.5rem;
}
#settings__tiles__buttons {
  display: inline-flex;
}
#settings__tiles__buttons > .input-container {
  margin: 0;
}
#settings__tiles input[type=color] {
  margin: 3px;
}

.card_header {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}
.card_header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.back {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.half {
  width: 100%;
  display: inline-block;
}
@media only screen and (min-width: 900px) {
  .half { width: 49%; }
}

.inline {
  display: inline
}
.inline-block {
  display: inline-block
}

.margined {
  margin: 1rem 1rem 1rem 0;
}
.margined_half {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.padded {
  padding: 1rem;
}

.tile {
   fill: none;
   stroke-width: 1;
   text-anchor: middle;
}
.tile__block {
  display: inline-block;
  padding: 0.1em;
  margin: 10px 1px 10px 0;
  outline-style: solid;
  outline-width: thin;
}
.tile__water {
  fill: none;
  stroke: #147ebe;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.tile__text {
  fill: black;
  text-anchor: middle;
  alignment-baseline: middle;
  dominant-baseline: middle;
  pointer-events: none;
}

.title {
  font-weight: bold;
  text-align: center;
}

.card {
  display: inline-block;
  box-sizing: border-box;
  width: 20rem;
  min-width: 240px;
  overflow: hidden;
  vertical-align: top;
  margin: 0.5rem 0.5rem 0 0;
  border: 1px solid gainsboro;
  border-radius: 0.7rem;
}
@media only screen and (max-width: 420px) {
  .card {
    width: 95vw;
  }
}
.card table {
  line-height: 1.25rem;
}
.card th {
  padding: 0 0.3rem 0 0.2rem;
}
.card td {
  padding: 0 0.5rem 0 0.3rem;
}
.card td.name {
  text-align: left;
  max-width: 12rem;
}

.corp div {
  display: grid;
  align-self: center;
  justify-self: center;
}
table.center {
  margin: 0.2rem auto;
}

#chatlog {
  height: 200px;
}
@media only screen and (min-width: 900px) {
  #homepage #chatlog {
    height: 350px;
  }
}

div.game.card em {
  font-style: normal;
  text-decoration: underline;
}
