* { font-family: 'Inconsolata', monospace; }

button {
  margin: 0.5rem 0.5rem 0 0;
}
.button, .button-link {
  font-size: 14px;
  background: whitesmoke;
  color: black;
  border: solid 1px black;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  cursor: pointer;
}
.button-link {
  text-decoration: none;
  color: initial;
  background: whitesmoke;
}

input, select {
  cursor: pointer;
  margin: 0.5rem;
}
input + label, select + label {
  margin-left: 0.5rem;
}
label.right {
  margin-left: 0;
  margin-right: 1rem;
}
.input-container {
  display: inline-block;
  margin-right: 1rem;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* prevent hover effects on mobile devices */
@media(hover: hover) and (pointer: fine) {
  .button:hover, .button-link:hover {
    background: black;
    border-color: gainsboro;
    color: gainsboro;
  }
  .button, .button-link {
    outline: 0;
  }
  .button:active, .button-link:active, .button:focus, .button-link:focus {
    outline: 0;
    opacity: 0.8;
  }
  a.nav:hover, a.default-bg:hover, a.text:hover {
    text-decoration: underline dotted;
    opacity: 0.8;
  }
  #logo a:hover {
    opacity: 0.8;
  }
  a:active {
    outline: 0;
  }
  a.game__nav:hover {
    opacity: 0.8;
  }
}

a.nav, a.default-bg, a.text  {
  color: currentColor;
}
a.nav {
  margin: 0 1rem;
}
a.game__nav:focus {
  font-weight: bold;
  outline: 0;
}

#nav {
  box-shadow: 0 2px 0 0 gainsboro;
  display: flex;
  justify-content: space-between;
  line-height: 3rem;
  padding: 0 1rem 0.5rem 1rem;
}
#logo a {
  color: currentColor;
  font-weight: bold;
  text-decoration: none;
}
#logo__18xx {
  display: inline-block;
  height: 3rem;
  text-align: center;
  width: 2.5rem;
}
#logo__18xx.yellow {
  background: url(/images/logo_polygon_yellow.svg) left/2.5rem no-repeat;
  color: black;
}
#logo__18xx.red {
  background: url(/images/logo_polygon_red.svg) left/2.5rem no-repeat;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: gainsboro;
  }
}

#profile-settings {
  margin-top: 1rem;
}

#profile-settings > div {
  margin: 0.2rem 0;
}
#profile-settings > div * {
  vertical-align: middle;
}
#profile-settings input[type=color] {
  border: 0;
  border-radius: 2px;
  padding: 0;
  height: 1.8rem;
  width: 2.7rem;
}

#profile-settings > #settings__notifications {
  height: 2rem;
}

#settings__tiles > label {
  margin-right: 0.5rem;
}
#settings__tiles__buttons {
  display: inline-flex;
}
#settings__tiles__buttons > .input-container {
  margin: 0;
}
#settings__tiles input[type=color] {
  margin: 3px;
}

#chatlog, input#chatbar {
  width: 100%;
}

input#chatbar {
  margin: 0;
  box-sizing: border-box;
}

.card_header {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.back {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.half {
  width: 100%;
  display: inline-block;
}

.inline { display: inline-block }

.margined {
  margin: 1rem 1rem 1rem 0;
}

.margined_half {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

@media only screen and (min-width: 900px) {
  .half { width: 49%; }
}

.tile {
   fill: none;
   stroke-width: 1;
}
.tile__block {
  display: inline-block;
  padding: 0.1em;
  margin: 10px 1px 10px 0;
  outline-style: solid;
  outline-width: thin;
}
.tile__water {
  fill: none;
  stroke: #147ebe;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.tile__text {
  fill: black;
  text-anchor: middle;
  alignment-baseline: middle;
  dominant-baseline: middle;
  pointer-events: none;
}

.card {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  width: 24rem;
  margin: 0.5rem 0.5rem 0 0;
  border-radius: 0.7rem;
}
.title {
  font-weight: bold;
  text-align: center;
  padding: 0.3rem;
}
.card table {
  line-height: 1.25rem;
}
.card th {
  padding: 0 0.3rem;
}
.card td {
  padding: 0 0.5rem;
}

/* corporations & companies */
.corporations__row {
  margin-bottom: 0.5rem;
}
.corp__title {
  display: grid;
  grid: 1fr / 2rem auto;
  align-items: center;
  justify-items: center;
  gap: 0 1rem;
  padding: 0.4rem;
}
img.corp__herald {
  height: 2rem;
  width: 2rem;
  justify-self: start;
  border: 0.2rem solid currentColor;
  border-radius: 0.5rem;
}
.corp__name {
  color: currentColor;
}

.corp__holdings {
  display: grid;
  grid: 1fr / 4.5rem auto;
  gap: 0 0.2rem;
  padding: 0.2rem 0.5rem;
}
.corp__holdings * {
  display: grid;
  align-self: center;
  justify-self: center;
}
.corp__holdings__sym {
  font-size: 2rem;
  font-weight: bold;
  justify-self: start;
}
.corp__holdings__details {
  grid: 1fr / 1fr 1fr auto;
  gap: 0 0.3rem;
}
.corp__holdings__segment {
  grid: 3fr 2fr / 1fr;
}
.corp__holdings > .value {
  max-width: 7.5rem;
  font-weight: bold;
}
.corp__holdings > .key {
  align-self: end;
}
.corp__token-list {
  grid: 1fr / auto-flow repeat(auto-fit, minmax(1.8rem, 1fr));
  gap: 0 0.2rem;
  padding-left: 1rem;
}
.corp__token {
  grid: 3fr 2fr / 1fr;
}

table.shareholders, table.companies, table.revenue {
  margin: 0.5rem auto;
  border-collapse: collapse; /* necessary for border under tr.market */
}
tr.market:not(last-child) {
  border-bottom: 1px solid currentColor;
}
td.last-run {
  font-weight: bold;
}
td.income, td.price, td.shares, td.value {
  text-align: right;
}
td.shares {
  padding-right: 1.5rem;
}
td.sold {
  font-style: italic;
  text-align: right;
}